<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089679039006-5ikr2rprvaigogdv3rie99f3aqnmc4pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089679039006-5ikr2rprvaigogdv3rie99f3aqnmc4pk</string>
	<key>API_KEY</key>
	<string>AIzaSyBIvUJRpH2CrTa3lOrpqyzaBipH4ijtZi0</string>
	<key>GCM_SENDER_ID</key>
	<string>1089679039006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetcangokcek.InstagramClone2</string>
	<key>PROJECT_ID</key>
	<string>instagramclone2-6ae44</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone2-6ae44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089679039006:ios:6e6c17ca1ab59acc9f2c0f</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone2-6ae44.firebaseio.com</string>
</dict>
</plist>